node_modules
.gitignore
fiu/__pycache__/*
*/__pycache__/*
.DS_Store
*.swp
*.pyc
fiu/__pycache__
fiu/__pycache__
fiu/can_create_file.json
*/can_create_file.json
fiu/*.pyc
*/*.pyc
*/fmvenv
*/static/cached