{% extends "base.html" %}
{% block title %}Welcome{% if name %}, {{ name }}{% endif %}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    {% if name %}
    <h1>Hello {{ name }}!</h1>
    {% else %}
    <h1>Hello, World!</h1>
    {% endif %}
    {% if loggedin %}
    <p>you are logged in - <a href="/logout">would you like to log in as someone else?</a></p>
    {% else %}
    <p>you are not logged in - try the login form below</p>
    {% endif %}
    <div>testing templates:
        <ul>
            <li><a href="/">this page</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/editor">editor</a></li>
            <li><a href="/errors">errors</a></li>
            <li><a href="/manage">manage</a></li>
            <li><a href="/upload">upload</a></li>
        </ul>
    </div>
{% endblock %}