{% extends "base.html" %}
{% block title %}Welcome{% if name %}, {{ name }}{% endif %}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        .manage-section-selector {
            background-color: navy;
            font-weight: bold;
            color: white;
            margin: 5px;
            padding: 10px;
            box-shadow: olive;
        }
        .manage-section-selector:hover {
            background-color: white;
            color: navy;
            cursor: pointer;
        }
        .manage-section-selector.selected {
            background-color: white;
            color: navy;
        }

        div.management-form-div {
            max-width: 400px;
        }
        div.management-form-div > form > p {
            text-align: right;
        }
    </style>
    <script src="/static/manage-window.js"></script>
{% endblock %}
{% block content %}
    {% if error %}
    <div class="errorWarning">{{ error }} <a href="/login">log in</a></div>
    {% else %}
    <h1>Manage This Site</h1>
    <div>
        <span class="manage-section-selector" id="manage-users-selector"> users </span>
        <span class="manage-section-selector" id="manage-sections-selector"> sections and navigations </span>
        <span class="manage-section-selector" id="manage-presentation-selector"> presentation </span>
        <span class="manage-section-selector" id="manage-keywords-selector"> keywords </span>
    </div>
    <div class="manage-section" id="manage-users">
        <h2>Users</h2>
        <div>
            <h3>list users</h3>
            <p>list of users</p>
            <div id="userslist"></div>
        </div>
        <div class="management-form-div" id="formUsersAddDiv">
            <h3>add user</h3>
            <form method="post" action="/users/add" id="formUsersAdd">
                <p><label for="username">username:</label><input name="username" type="text"/></p>
                <p><label for="email">email:</label><input name="email" type="text"/></p>
                <p><label for="password">password:</label><input name="password" type="password"/></p>
                <p><button>add user</button></p>
            </form>
            <div class="form-result"></div>
        </div>
        <div class="management-form-div" id="formUsersEditDiv">
            <h3>edit user</h3>
            <form method="post" action="/users/edit" id="formUsersEdit">
                <p><label for="id">id:</label><input name="id"/></p>
                <p><label for="username">username:</label><input name="username"/></p>
                <p><label for="email">email:</label><input name="email"/></p>
                <p><label for="password">password:</label><input name="password"/></p>
                <p><button>edit user</button></p>
            </form>
            <div class="form-result"></div>
        </div>
        <div class="management-form-div" id="formUsersDeactivateDiv">
            <h3>deactivate user</h3>
            <form method="post" action="/users/deactivate" id="formUsersDeactivate">
                <p><label for="id">id:</label><input name="id"/></p>
                <p><label for="username">username:</label><input name="username"/></p>
                <p><label for="email">email:</label><input name="email"/></p>
                <p><button>deactivate user</button></p>
            </form>
            <div class="form-result"></div>
        </div>
        <div class="management-form-div" id="formUsersPurgeDiv">
            <h3>purge user</h3>
            <form method="post" action="/users/purge" id="formUsersPurge">
                <p><label for="id">id:</label><input name="id"/></p>
                <p><label for="username">username:</label><input name="username"/></p>
                <p><label for="email">email:</label><input name="email"/></p>
                <p><button>purge user</button></p>
            </form>
            <div class="form-result"></div>
        </div>
    </div>
    <div class="manage-section" id="manage-sections">
        <h2>Sections and Navigation</h2>
        <div class="management-form-div" id="formSectionsAddDiv">
            <h3>add section</h3>
            <form method="post" action="/sections/add" id="formSectionsAdd">
                <p><label for="section">section name:</label><input name="section"/></p>
                <p><button>add section</button></p>
            </form>
            <div class="form-result"></div>
        </div>
        <div class="management-form-div" id="formSectionsRemoveDiv">
            <h3>remove section</h3>
            <form method="post" action="/sections/remove" id="formSectionsRemove">
                <p><label for="section">section name:</label><input name="section"/></p>
                <p><button>remove section</button></p>
            </form>
            <div class="form-result"></div>
        </div>
        <div class="management-form-div" id="formSectionsEditDiv">
            <h3>edit section content</h3>
            <form method="post" action="/sections/edit" id="formSectionsEdit">
                <p><label for="sectioncurrent">section name (current):</label><input name="sectioncurrent"/></p>
                <p><label for="sectionnew">section name (new):</label><input name="sectionnew"/></p>
                <p><button>remove section</button></p>
            </form>
            <div class="form-result"></div>
        </div>
    </div>
    <div class="manage-section" id="manage-presentation">    
        <h2>Presentation</h2>
        <div class="management-form-div" id="formPresentationConfigureDiv">
            <p>color and style editor</p>
            <div id="settingSample">Hello, World! 0123456789</div>
            <form method="post" action="/presentation/configure" id="formPresentationConfigure">
                <p><label for="bgHeavyRgb">heavy background color:</label><input name="bgHeavyRgb"/></p>
                <p><label for="bgLightRgb">light background color:</label><input name="bgLightRgb"/></p>
                <p><label for="textRgb">text color:</label><input name="textRgb"/></p>
                <p><button>set</button></p>
            </form>
            <div class="form-result"></div>
        </div>
    </div>
    <div class="manage-section" id="manage-keywords">
        <h2>Keywords</h2>
        <div>
            <p>list keywords</p>
        </div>
        <div class="management-form-div" id="formKeywordsAddDiv">
            <h3>add keywords</h3>
            <form method="post" action="/keywords/add" id="formKeywordsAdd">
                <p><label for="keywords">keywords:</label><input name="keywords"/></p>
                <p><button>remove keywords</button></p>
            </form>
            <div class="form-result"></div>
        </div>
        <div class="management-form-div" id="formKeywordsRemoveDiv">
            <h3>remove keywords</h3>
            <form method="post" action="/keywords/remove" id="formKeywordsRemove">
                <p><label for="keywords">keyword:</label><input name="keywords"/></p>
                <p><button>remove keywords</button></p>
            </form>
            <div class="form-result"></div>
        </div>
    </div>
    {% endif %}
    
{% endblock %}

