{% extends "base.html" %}
{% block title %}Read{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    {% if title %}
    <h1>Read: {{ title }}!</h1>
    {% if content %}{{ content|safe }}{% endif %}
    {% else %}
    <h1>List of Content</h1>
    
    <ul>
        {% for item in listall %}
        <li>{{ item.1 }} created in {{ item.2 }}</li>
        {% endfor %}
    </ul>
    
    {% endif %}
    
{% endblock %}