<div>
    <h2>Manage Keywords</h2><div>
        <button id="logoutFormLogoutButton">logout</button>
    </div>
    
    <div>list all keywords</div>
    <div id="allkeywordslist"></div>
    <!-- Keywords Management -->
    <div id="mng-keywords" class="management-div">
        <h3>Keywords Management</h3>
        <div id="keywordslist"></div>

        <div>
            <p>keyword: <input id="keyword.add.keyword" name="keyword.add.keyword"/></p>
            <p>description: <textarea id="keyword.add.description" name="keyword.add.description"></textarea></p>
            <p><button id="keyword.add">add keyword</button></p>
        </div>
        <!--<div>
            <p>keyword: <input id="keyword.remove.keyword" name="keyword.remove.keyword"/></p>
            <p><button id="keyword.remove">remove keyword</button></p>
        </div>-->
        
    </div>
</div>