<div>
    <h2>Manage Keywords</h2>
    <div>list all keywords</div>
    <div>add a keyword</div>
    <div>remove a keyword</div>


    <!-- Keywords Management -->
    <div id="mng-keywords" class="management-div">
        <h3>Keywords Management</h3>
        <div id="keywordslist"></div>
        <div>
            <form method=post enctype=multipart/form-data>
                <input type=file name=file>
                <button id="fileuploads.upload">upload</button>
            </form>
        </div>
        <div>
            <p>file name: <input id="fileuploads.name.remove" name="fileuploads.name.remove"/></p>
            <p><button id="fileuploads.remove">remove keyword</button></p>
        </div>
    </div>
</div>