<div><br/></div>
<!--<div id="selectManageDiv" class="metaTagMenuHolder">
    <span class="metaTagSelector" id="select-users-mng">manage users</span>
    <span class="metaTagSelector" id="select-keywords-mng">manage keywords</span>
    <span class="metaTagSelector" id="select-presentation-mng">manage presentation</span>
</div>-->
<div>
    <h2>Manage this System</h2>

    <!-- User Management -->
    <div id="mng-users" class="management-div">
        <h3>User Management</h3>
        <div id="ajaxuserslist"></div>
        <div>
            <p>username: <input id="user.create.username" name="user.create.username"/></p>
            <p>email: <input id="user.create.email" name="user.create.email"/></p>
            <p><button id="user.create">create user</button></p>
        </div>
        <div>
            <p>username: <input id="user.update.username" name="user.update.username"/></p>
            <p>email: <input id="user.update.email" name="user.update.email"/></p>
            <p><button id="user.update">update user</button></p>
        </div>
        <div>
            <p>email: <input id="user.pwreset.email" name="user.pwreset.email"/></p>
            <p><button id="user.pwreset">reset password</button></p>
        </div>
        <div>
            <p>email: <input id="user.toggleactive.email" name="user.toggleactive.email"/></p>
            <p><button id="user.toggleactive">toggle activation</button></p>
        </div>
    </div>

    <!-- Keywords Management -->
    <div id="mng-keywords" class="management-div">
        <h3>Keywords Management</h3>
        <div id="keywordslist"></div>
        <div>
            <form method=post enctype=multipart/form-data>
                <input type=file name=file>
                <button id="fileuploads.upload">upload</button>
            </form>
        </div>
        <div>
            <p>file name: <input id="fileuploads.name.remove" name="fileuploads.name.remove"/></p>
            <p><button id="fileuploads.remove">remove keyword</button></p>
        </div>
    </div>

    <!-- Uploads Management -->
    <div id="mng-uploads" class="management-div">
        <h3>Uploads Management</h3>
        <div id="uploadedfileslist"></div>
        <div>
            <p>keyword: <input id="keyword.add.keyword" name="keyword.add.keyword"/></p>
            <p><button id="keyword.add">add keyword</button></p>
        </div>
        <div>
            <p>keyword: <input id="keyword.remove.keyword" name="keyword.remove.keyword"/></p>
            <p><button id="keyword.remove">remove keyword</button></p>
        </div>
    </div>

    <!-- Presentation Management -->
    <div id="mng-presentation" class="management-div">
        <h3>Manage View and Presentation</h3>
        <div id="configure-css-scheme">
            <p>dark-background</p>
            <p>light-background</p>
            <p>text-color</p>
            <p>link-color</p>
            <div class="sample-element" id="sampleImage"></div>
            <div class="sample-element" id="sampleTable"></div>
            <div class="sample-element" id="sampleScrollBox"></div>
        </div>
    </div>
</div>

<script>
    window.addEventListener("load", () => {
        if(document.readyState === "complete") {
            // Fully loaded!
            document.getElementById('ajaxuserslist').innerHTML = 'ming ming!'
        }
    })  
</script>