<div>
    <h2>Manage File Uploads</h2>
    <div>list uploads</div>


    <!-- Uploads Management -->
    <div id="mng-uploads" class="management-div">
        <h3>Uploads Management</h3>
        <div id="uploadedfileslist"></div>
        <div>
            <p>keyword: <input id="keyword.add.keyword" name="keyword.add.keyword"/></p>
            <p><button id="keyword.add">add keyword</button></p>
        </div>
        <div>
            <p>keyword: <input id="keyword.remove.keyword" name="keyword.remove.keyword"/></p>
            <p><button id="keyword.remove">remove keyword</button></p>
        </div>
    </div>
</div>