<div>
    <h2>Users Page</h2>

    <!-- User Management -->
    <div id="mng-users" class="management-div">
        <h3>User Management</h3>
        <div id="alluserslist" vjs-model="userstest"></div>
        <!--
        <div vjs-for="user in allusers">
            <p>{{ user.id }}: {{ user.name }} ({{ user.email }}), created on {{ user.created }}</p>
        </div>-->
        <div>
            <p>username: <input id="user.create.username" name="user.create.username"/></p>
            <p>email: <input id="user.create.email" name="user.create.email"/></p>
            <p>password: <input id="user.create.password" name="user.create.password" type="password" value="1+5@secret!"/></p>
            <p><button id="user.create">create user</button></p>
        </div>
        <div>
            <p>username: <input id="user.update.username" name="user.update.username"/></p>
            <p>email: <input id="user.update.email" name="user.update.email"/></p>
            <p><button id="user.update">update user</button></p>
        </div>
        <div>
            <p>email: <input id="user.pwreset.email" name="user.pwreset.email"/></p>
            <p><button id="user.pwreset">reset password</button></p>
        </div>
        <div>
            <p>email: <input id="user.toggleactive.email" name="user.toggleactive.email"/></p>
            <p><button id="user.toggleactive">toggle activation status</button></p>
        </div>
    </div>
</div>